<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegressionSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>19/02/12 12:19:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Home_SearchBookTest.callPropertiesFile()[pri:0, instance:com.NortonWebsite.tests.Home_SearchBookTest@13a5fe33]">&gt;&gt;callPropertiesFile</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/12 12:20:12</td>   <td>25027</td> <td>&nbsp;</td><td title="&lt;&lt;Home_SearchBookTest.closeTest()[pri:0, instance:com.NortonWebsite.tests.Home_SearchBookTest@13a5fe33]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/12 12:20:09</td>   <td>22643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home_SearchBookTest.searchBookTest()[pri:0, instance:com.NortonWebsite.tests.Home_SearchBookTest@13a5fe33]">searchBookTest</td> 
  <td>main@841283083</td>   <td></td> </tr>
</table>
